<div id="name">
	<h1>Nelson Blaha</h1>
	<h3>Programmer</h3>
</div>

<div id="tags">
	<% Tag.all.each do |tag| %>
		<div class="tag">
			<h2 class="tag_name"><%= tag.name %></h2>
			<% if current_user && current_user.admin %>
				<%= link_to "edit tag", edit_tag_path(tag) %>
			<% end %>
			<% tag.links.each do |l| %>
				<div class="link">
	<!-- 				<%= image_tag l.icon, size:"32x32" %> -->
					<b><%= link_to l.title, l.url, target:"_blank" %></b><br>
					<i><%= l.description %></i>
					<% if current_user && current_user.admin %>
						<%= form_tag("/new_tagging_for_link") do %>
							<p>
								<%= text_field_tag(:tag_name) %>
								<%= hidden_field_tag(:id,l.id) %>
								<%= submit_tag "add tag to link" %>
							</p>
						<% end %>
						<%= link_to "edit", edit_link_path(l) %>
					<% end %>	
				</div>
			<% end %>
		</div>
	<% end %>
		
	<% if @loose_links.count > 0 %>
		<div class="tag">
			<h2>Untagged Links</h2>
			<% @loose_links.each do |l| %>
				<div class="link">
	<!-- 				<%= image_tag l.icon, size:"32x32" %> -->
					<b><%= link_to l.title, l.url, target: "_blank" %></b><br>
					<i><%= l.description %></i>
					<% if current_user && current_user.admin %>
						<%= form_tag("/new_tagging_for_link") do %>
							<p>
								<%= text_field_tag(:tag_name) %>
								<%= hidden_field_tag(:id,l.id) %>
								<%= submit_tag "add tag to link" %>
							</p>
						<% end %>
						<%= link_to "edit", edit_link_path(l) %>
					<% end %>		
				</div>
			<% end %>
		</div>
	<% end %>
</div>

<% if current_user && current_user.admin %>
	<div id="admin">
		<p>Admin</p>
		<p><%= link_to "Add Link", new_link_path %></p>
	</div>
<% end %>